html, body {
    font-family:"Montserrat", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: -15px;
    margin-top: 0;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

.title_background {
    padding: 2px 5px 2px 5px;
    background-color: #16eb84ec;
    color: black;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* ------ header ------ */

.header {
    background-color: #704cf1ec;
    align-items: top;
}

.header_text {
    width: 28%;
    padding: 15px 15px 15px 15px;
    margin-right: 50px;
    margin-top: 0;
}

.header_text h1, .header_text h3 {
    padding-left: 20px;
}

.header_text p {
    margin-top: 70px;
    font-size: 1.2em;
}

.header_img {
    width: 350px;
    height: 100%;
}

/* ------ center ------ */

.center {
    color: #111768e3;
    align-items: center;
    margin: 50px 0 50px 0;
}

.center h3 {
    padding-left: 0;
    font-size: 1.7em;
}

.center i {
    font-size: 15em;
}

.center_text {
    width: 35%;
    margin-left: 100px;
    margin-top: 0;
}

.center_text_para {
    margin-left: 2%;
}

.rotate-center:hover {
	animation: rotate-center 0.3s ease-in-out both;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* ------ footer ------ */

.footer {
    height: 100%;
    background-color: #111768e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.footer_text h2 {
    margin-bottom: -15px;
}

.footer_text {
    width: 50%;
    padding: 50px 0px 50px 0px;
}

.links {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.links i {
    color: #2f9fe0 ;
    font-size: 6em;
    margin-right: 20px;
    padding-top: -15;
}

.lonks_prop {
    transition: all 1s ease-in-out;
}

.links_prop:hover {
    transform: scale(1.1);
}